li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  background-color: transparent;
  border: none;
}
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 7.2rem;
  gap: 1.6rem;
  margin-top: 4rem;
}
.main-nav > li > button {
  height: 5.8rem;
  aspect-ratio: 1;
  border-radius: 9px;
  cursor: pointer;
  transition: background 0.2s;
}
